* {
    background-color: #000;
    color: #fff;
    font-family: 'Trebuchet MS';
    margin: auto;
    align-items: center;
}

nav{
    list-style: none;
    display: flex; 
    justify-items: center;
}

.nav_item{
    color: #fff;
    text-decoration: none;
    justify-items: center;
    text-decoration-line: underline;
  text-decoration-style: wavy;

}

form{
    border: #e61e28 solid 20px;
    width: 500px;
    padding: 20px;
}

.button{
    border: #e61e28 solid 3px;
}


header, nav, li, footer{
    background-color: #e61e28;
}

a{
    background-color: rgba(255, 255, 255, 0);
}


.logo_header{
    background-color: #e61e28;
    width: 10%;
}

.logos_redes{
    background-color: #e61e28;
    width: 70px;
}

.fondo_m{
    width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-indicators{
    background-color: transparent;
}

main{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

.main_index{
    padding: 0;
}

table{
    width: 900px;
}

td, td{
    padding: 10px;
}

body{
    background-color: #000;
}

.derechos, .div_foot{
    background-color: #e61e28;
}

.dibu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;      
}

aside{
    display: flex;
    padding: 30px;
}

.ad_app{
    width: 500px;
}

.ad_but{
    display: flex;
}

.coca_ad{
    width: 600px;
}

.ad{
    width: 175px;
}

footer{
    display: flex;
    height: 150px;
}